.App {
  text-align: center;
}

.App-logo {
  width: 210px;
  height: 68px;
}

.App-header {
  background-color: #FFFFFF;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: black;
  margin-left: 40px;
  margin-top: 30px;


  nav {
    ul {
      display: flex;

      li {
        list-style: none;
        margin: 0 25px;

      }
    }
  }
}

.App-link {
  color: #61dafb;
}