* {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.main {
  margin: 60px;
  margin-top: 0px;
}

@media screen and (max-width: 768px) {
  .main {
    margin: 20px;
  }
}