@import '../style/utils/mixin.scss';

// Conteneur principal pour la bannière
.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 223px;
    position: relative;
    top: 50px;
    border: 1px solid transparent;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    @include boxShadow;
    margin-bottom: 90px;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 1;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
        z-index: 0;
    }

    &__text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-weight: 700;
        font-size: clamp(1.5rem, 4vw, 3rem);
        color: #FFFFFF;
        z-index: 2;
        @include textShadow;
        padding: 0 20px;
        box-sizing: border-box;
        white-space: normal;
    }

    &.about-banner::before {
        background-color: rgba(0, 0, 0, 0.3);
    }
}

// Styles pour les écrans de moins de 768px de large (responsive)
@media screen and (max-width: 768px) {
    .banner {
        height: 111px;
        margin: 20px 0;
        top: 0;

        &__text {
            font-size: clamp(1.2rem, 4vw, 2rem);
            width: 80%;
            left: 12%;
            transform: translate(-10%, -50%);
            padding: 0;
            text-align: start;
        }

        &.about-banner {
            margin-bottom: 30px;
        }
    }
}