.collapse-section {
    margin: 50px 100px 0;
}

.collapse {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    background-color: #FF6060;
    font-size: 24px;
    padding: 10px 20px;
    color: #FFFFFF;
    gap: 10px;
    margin: 0;

    h3 {
        margin: 0;
    }
}

.collapse-arrow {
    transition: transform 0.3s ease;
    cursor: pointer;
}

.collapse-arrow.closed {
    transform: rotate(0deg);
}

.collapse-arrow.open {
    transform: rotate(-180deg);
    margin: 0;
}

.collapse-content {
    max-height: 0;
    opacity: 0;
    margin-bottom: 25px;

    &.open {
        max-height: 200px;
        margin-bottom: 30px;
        font-size: 18px;
        font-weight: 400;
        line-height: 25.67px;
        border-radius: 5px;
        color: black;
        background-color: #F6F6F6;
        animation: ToggleAnim 0.5s ease 0s 1 normal forwards;

        p {
            margin: 0;
            padding: 15px;
        }
    }

    &.closed {

        p,
        ul {
            margin: 0;
            padding: 0;
        }
    }
}

@keyframes ToggleAnim {
    0% {
        opacity: 0;
        transform: rotateX(70deg);
        transform-origin: top;
    }

    100% {
        opacity: 1;
        transform: rotateX(0deg);
        transform-origin: top;
    }
}

@media screen and (max-width: 980px) {
    .collapse-section {
        margin: 0;
    }

    .collapse {
        font-size: 18px;
    }

    .collapse-content.closed {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 375px) {
    .collapse {
        font-size: 13px;
    }

    .collapse-arrow {
        height: 10px;
    }

    .collapse-content.open {
        font-size: 12px;
        line-height: 17px;
    }

    .collapse-content.closed {
        margin-bottom: 20px;
    }
}