.tags-content {
    width: 100%;
    height: auto;
    position: relative;
    margin-top: 15px;

    .tags__style {
        display: flex;
        padding: 0;
        margin: 0;
        list-style: none;
        gap: 5px;
    }

    .tags__text {
        height: 25px;
        margin-right: 5px;
        border-radius: 10px;
        background-color: #FF6060;
        font-weight: 700;
        font-size: 14px;
        line-height: 25px;
        text-align: center;
        color: #FFFFFF;
        padding: 0 30px;
    }
}

@media screen and (max-width: 980px) {
    .tags__style {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 480px) {
    .tags__text {
        font-size: 10px;
        padding: 0 10px;
    }
}